<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рекомендации соотношения матрица-наполнитель для композиционных материалов</title>
</head>
<body>
    <h1 style="color:#000000; font-family: tahoma;">Рекомендации соотношения матрица-наполнитель 
<br>для композиционных материалов</h1>
    <p>
    {% if message %}
        <p><b><label style="color:#000000; font-family: tahoma; font-size: 7">{{message}}</b></p>
    {% endif %}
    </p>
    <form action="" method="post">
    <fieldset>
    <strong><u> <legend style="color:#0047ab; font-family: tahoma; font-size: 7">Введите параметры</legend> </u></strong>
    <p>
        <input type="text" name="Плотность, кг/м3" required>
		<label for="Плотность, кг/м3" style="color:#000000; font-family: tahoma; font-size: 6">Плотность, кг/м3 (значение min = 1731,764635; max = 2207,773481)</label>
    </p><p>
        <input type="text" name="модуль упругости, ГПа" required>
		<label for="модуль упругости, ГПа" style="color:#000000; font-family: tahoma; font-size: 6">Модуль упругости, ГПа (значение min = 2,436909; max = 1911,536477)</label>
    </p><p>
        <input type="text" name="Количество отвердителя, м.%" required>
		<label for="Количество отвердителя, м.%" style="color:#000000; font-family: tahoma; font-size: 6">Количество отвердителя, м.% (значение min = 17,740275; max = 198,953207)</label>
    </p><p>
        <input type="text" name="Содержание эпоксидных групп,%_2" required>
        <label for="Содержание эпоксидных групп,%_2" style="color:#000000; font-family: tahoma; font-size: 6">Содержание эпоксидных групп,%_2 (значение min = 14,254985; max = 33,000000)</label>
    </p><p>
        <input type="text" name="Температура вспышки, С_2" required>
		<label for="Температура вспышки, С_2" style="color:#000000; font-family: tahoma; font-size: 6">Температура вспышки, С_2 (значение min = 100,000000; max = 413,273418)</label>
    </p><p>
        <input type="text" name="Поверхностная плотность, г/м2	" required>
		<label for="Поверхностная плотность, г/м2	" style="color:#000000; font-family: tahoma; font-size: 6">Поверхностная плотность, г/м2 (значение min = 0,603740; max = 1399,542362)</label>
    </p><p>
        <input type="text" name="Модуль упругости при растяжении, ГПа" required>
		<label for="Модуль упругости при растяжении, ГПа" style="color:#000000; font-family: tahoma; font-size: 6">Модуль упругости при растяжении, ГПа (значение min = 64,054061; max = 82,682051)</label>
    </p><p>
        <input type="text" name="Прочность при растяжении, МПа" required>
		<label for="Прочность при растяжении, МПа" style="color:#000000; font-family: tahoma; font-size: 6">Прочность при растяжении, МПа (значение min = 1036,856605; max = 3848;436732)</label>
    </p><p>
        <input type="text" name="Потребление смолы, г/м2" required>
		<label for="Потребление смолы, г/м2" style="color:#000000; font-family: tahoma; font-size: 6">Потребление смолы, г/м2 (значение min = 33,803026; max = 414,590628)</label>
	    
    </p><p>
        <input type="text" name="Угол нашивки, град" min='0' max='90' step='1' required>
		<label for="Угол нашивки, град" style="color:#000000; font-family: tahoma; font-size: 6">Угол нашивки, град (значение 0 или 90)</label>
    </p><p>
        <input type="text" name="Шаг нашивки" required>
		<label for="Шаг нашивки" style="color:#000000; font-family: tahoma; font-size: 6">Шаг нашивки (значение min = 0,000000; max = 14,440522)</label>
    </p><p>
        <input type="text" name="Плотность нашивки" required>
		<label for="Плотность нашивки" style="color:#000000; font-family: tahoma; font-size: 6">Плотность нашивки (значение min = 0,000000; max = 103,988901)</label>
	    
	</p>
    </fieldset>
	<p>
	    <strong><u><input style="color:#000000; font-family: tahoma; font-size: 7" type="submit" value="Рассчитать"></u></strong>
        <input style="color:#000000; font-family: tahoma; font-size: 7" type="reset">
	</p>
    </form>
</body>
</html>
